@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
/* @font-face {
  font-family: 'rocher';
  src: url('./fonts/rocher-jewel.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#prdocutContainer::-webkit-scrollbar {
  display: none;
}

#productContainer {
  /* border: 1px solid red; */
  height: 86vh;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  overflow: scroll;
  align-items: baseline;
  margin-top: 10px;
  gap: 1%;
  padding-left: 20px;
}

body {
  background-image: url("./flat-design-polygonal-background/5176471.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#searchContainer {
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 35px;
  /* border: 1px solid red; */
}

#categorySelect{
  width: 200px;
  height: 30px;
  font-family: 'Nova Square', sans-serif;
  background-color: rgb(67, 80, 119);
  border: 1px solid yellow;
  color: gold;
  outline: none;
  border-radius: 5px;
  /* background-color: gold; */
}

#pagination{
  height: 7vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 7px;
  gap: 10px;
}

.page-item{
  font-family: 'Nova Square', sans-serif;
  font-size: 20px;
  height: 90%;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.page-item:hover{
  background-color: rgb(67, 80, 119);
  color: gold;
}

.productElement {
  /* height: 453px; */
  width: 24%;
  /* border: 1px solid green; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(67, 80, 119);
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
}

.thumbnail {
  width: 99%;
  height: 250px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border: 8px solid rgb(130, 156, 224);
  position: relative;
}

.absolute{
  width: 103%;
  height: 103%;
  top: -4px;
  left: -4px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  position: absolute;
  border: 1px solid white;
}

.thumbnail > img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 100%;
}
.info{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.info > span:first-of-type{
  font-family: 'Nova Square', sans-serif;
  color: rgb(130, 156, 224);
  color: gold;
  /* color:rgb(121, 173, 175); */
  font-size: 20px;
}

.category{
  width: 100%;
  font-family: 'Nova Square', sans-serif;
  color:rgb(192, 172, 140);
  color:orangered;
  color: gold;
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 6px;

}

.price{
  width: 100%;
  padding-left: 2px;
  padding-left: 10px;
  margin-top: 6px;
}
.price > div:first-of-type{
  display: flex;
  gap: 4px;
  align-items: flex-end;
}

.price > div:first-of-type > span:first-of-type{
  font-family: 'Nova Square', sans-serif;
  font-size: 14px;
  color: yellow;
}
.price > div:first-of-type > span:last-of-type{
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
  color:gold ;
}


.price > div:last-of-type{
  font-family: 'Nova Square', sans-serif;
  font-size: 16px;
  display: flex;
  gap: 4px;
  align-items: flex-end;
  margin-top: 3px;
  color: gold;
}

.details-button{
  height: 40px;
  width: 70%;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Nova Square', sans-serif;
  font-size: 15px;
  background-color: gold;
  color: rgb(67, 80, 119);
  font-weight: 900;
  cursor: pointer;
}

.stock{
  margin-top: 6px;
  font-family: 'Nova Square', sans-serif;
  font-size: 12px;
  color:rgb(192, 172, 140);
  margin-bottom: 30px;
}



.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px black);
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 18px;
  position: absolute;
  top: 31px;
  right: -2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 14px;
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 17px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}


@media only screen and (max-width: 1100px) {
  .productElement{
    width: 32%;
  }
}

@media only screen and (max-width: 890px) {
  .productElement{
    width: 49%;
  }
}
@media only screen and (max-width: 610px) {
  .productElement{
    width: 100%;
  }
  #productContainer{
    padding-left: 0px;
  }
}